<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.ecv.dao.EcvDirectionDao">
		<!-- 발주지시서 데이터 조회 -->
		<select id="selectPurchaseDirectionList" resultType="kr.happyjob.study.ecv.model.EcvPurchaseDirectionModel"> 
			SELECT pl.supply_cd supplyCode,
			       sup.supply_nm supplyName,
			       prod.prod_nm productName,
			       pl.purch_qty purchaseQty,
			       pl.purch_total_amt purchaseTotalAmount,
			       ui.name scmManager,
			       pl.direction_date directionDate,
			       o.STTcd sttCode,
			       o.order_cd orderCode
			FROM tb_scm_purchase_list pl
			JOIN tb_order o ON o.order_cd = pl.order_cd
			JOIN tb_userinfo ui ON ui.loginID = pl.scm_id
			JOIN tb_scm_supply sup ON sup.supply_cd = pl.supply_cd
			JOIN tb_scm_product prod ON prod.product_cd = pl.product_cd
			WHERE 1=1
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND DATE_FORMAT(pl.direction_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="keyword != null and keyword != ''">
				<if test="searchType == null or searchType == ''">
					AND sup.supply_nm LIKE CONCAT('%', #{keyword}, '%')
					OR prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
					OR ui.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'supplyName'">
					AND sup.supply_nm LIKE CONCAT('%', #{keyword}, '%')				
				</if>
				<if test="searchType == 'productName'">
					AND prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'scmName'">
					AND ui.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
			</if>
			ORDER BY CAST(o.STTcd as unsigned), pl.purch_list_no DESC
		    LIMIT #{pageIndex}, #{pageSize}
		</select>
		
		<!-- 발주지시서 데이터 갯수 카운팅 -->
		<select id="selectPurchaseDirectionListCnt" resultType="int">
			SELECT COUNT(DISTINCT pl.order_cd) tot_cnt
			FROM tb_scm_purchase_list pl
			JOIN tb_scm_supply sup ON sup.supply_cd = pl.supply_cd
			JOIN tb_userinfo ui ON ui.loginID = pl.scm_id
			JOIN tb_scm_product prod ON prod.product_cd = pl.product_cd
			WHERE 1=1
				AND pl.return_qty IS NULL
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND DATE_FORMAT(pl.direction_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="keyword != null and keyword != ''">
				<if test="searchType == null or searchType == ''">
					AND sup.supply_nm LIKE CONCAT('%', #{keyword}, '%')
					OR prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
					OR ui.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'supplyName'">
					AND sup.supply_nm LIKE CONCAT('%', #{keyword}, '%')				
				</if>
				<if test="searchType == 'productName'">
					AND prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'scmName'">
					AND ui.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
			</if>
		</select>
		
		<!-- 발주지시서 업데이트 -->
		<update id="updatePurchaseApprove" parameterType="java.util.Map">
			UPDATE tb_order AS o, tb_scm_purchase_list AS purch
			SET o.STTcd = #{STTcd}, purch.approve_id = #{loginId}
			WHERE o.order_cd = #{orderCode} AND purch.order_cd = #{orderCode};
			
			INSERT INTO tb_acc_slip(
										slip_no,
										account_cd,
										detail_account_cd,
										occur_date,
										order_cd,
										amt,
										note,
										direct_id,
										client_cd
								    )
		    SELECT MAX(slip_no)+1,
    	  		   'A100',
    	  		   '101',
    	  	   	   NOW(),
    	  		   #{orderCode},
    	  		   #{totalAmount},
    	  		   null,
    	  		   #{loginId},
    	  		   #{supplyCode}
  		    FROM tb_acc_slip;
		</update>
		
		<!-- 반품지시서 데이터 조회 -->
		<select id="selectRefundDirectionList" resultType="kr.happyjob.study.ecv.model.EcvRefundDirectionModel">
			SELECT rl.submit_date submitDate,
			       sui.company_cd customerCode,
			       ui.name customerName,
			       prod.prod_nm productName,
			       o.refund_cnt refundQty,
			       ROUND(o.refund_amt*(10/11)) refundAmount,
			       ROUND(o.refund_amt*(10/11)*0.1) refundTax,
			       o.refund_amt totalRefundAmount,
			       uscm.name scmManager,
			       o.STTcd sttCode,
			       o.order_cd orderCode
			FROM tb_scm_refund_list rl
			JOIN tb_order o ON o.order_cd = rl.order_cd
			JOIN tb_userinfo ui ON o.loginID = ui.loginID
			JOIN tb_userinfo uscm ON rl.scm_id = uscm.loginID
			JOIN tb_scm_userinfo sui ON sui.loginID = o.loginID
			JOIN tb_scm_product prod ON prod.product_cd = o.product_cd
			WHERE 1=1
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND DATE_FORMAT(rl.submit_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="keyword != null and keyword != ''">
				<if test="searchType == null or searchType == ''">
					AND ui.name LIKE CONCAT('%', #{keyword}, '%')
					OR prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
					OR uscm.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'customerName'">
					AND ui.name LIKE CONCAT('%', #{keyword}, '%')				
				</if>
				<if test="searchType == 'productName'">
					AND prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'scmName'">
					AND uscm.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
			</if>
			ORDER BY CAST(o.STTcd as unsigned), rl.submit_date DESC
		    LIMIT #{pageIndex}, #{pageSize}
		</select>
		
		<!-- 반품지시서 데이터 갯수 카운팅 -->
		<select id="selectRefundDirectionListCnt" resultType="int">
			SELECT COUNT(*) tot_cnt
			FROM tb_scm_refund_list rl
			JOIN tb_order o ON o.order_cd = rl.order_cd
			JOIN tb_userinfo ui ON o.loginID = ui.loginID
			JOIN tb_userinfo uscm ON uscm.loginID = rl.scm_id
			JOIN tb_scm_product prod ON prod.product_cd = o.product_cd
			WHERE 1=1
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND DATE_FORMAT(rl.submit_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="keyword != null and keyword != ''">
				<if test="searchType == null or searchType == ''">
					AND ui.name LIKE CONCAT('%', #{keyword}, '%')
					OR prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
					OR uscm.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'customerName'">
					AND ui.name LIKE CONCAT('%', #{keyword}, '%')				
				</if>
				<if test="searchType == 'productName'">
					AND prod.prod_nm LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'scmName'">
					AND uscm.name LIKE CONCAT('%', #{keyword}, '%')
				</if>
			</if>
		</select>
		
		<!-- 해당 주문 상태 업데이트 -->
		<update id="updateRefundApprove" parameterType="int">
			UPDATE tb_order AS o, tb_scm_refund_list AS rl
			SET o.STTcd = #{STTcd}, rl.approve_id = #{loginId}
			WHERE o.order_cd = #{orderCode} AND rl.order_cd = #{orderCode}
		</update>
</mapper>