* {
	user-select: none;
}

.btnType3.color4 {
	text-decoration: none;
}

.filter {
	margin-top: 1%;
}

.filter input {
	margin-left: 10px;
}

#container ul li.contents .content {
	min-height: 800px;
}

.bar {
	width: 100%;
	border: 1px solid black;
	background-color: black;
}

h1 {
	font-size: 24px;
	text-align: center;
}

.prodInfoContainer {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
}

.prodInfoContainer div {
	margin-bottom: 2%;
	font-size: 14px;
}

.bar {
	margin: 40px 0;
}

.prodInfoContainer input {
	width: 50px;
}

.prodInfoContainer #sumAmt,
.prodInfoContainer #sumAmt-han {
	font-weight: bold;
	font-size: 16px;
}

.prodInfoContainer #sumAmt-han {
	margin-top: 20px;
}

#customerRequest {
	margin-top: 10px;
}

#purchaseCount {
	text-align: right;
	width: 80px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#orderListSearchBtn {
	display: inline-block;
	margin-left: 15px;
	text-align: center;
	padding-top: 2px;
}

#detailRefund {
	margin: 30px 0;
}

#detailRefund h1 {
	margin-bottom: 30px;
}

#detailRefund ul li {
	font-size: 18px;
}

.date_container1 {
	width: 60%;
}

.orderlist.date_container {
	margin-top: 10px;
}

#purchaseDirectionListForm,
#refundDirectionListForm {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.refund-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

#searchType {
	width: 130px;
	height: 37px;
	margin-right: 10px;
}

input[name="keyword"] {
	width: 400px;
	height: 37px;
}

#purchaseDirectionListSearchBtn,
#refundDirectionListSearchBtn,
#orderListSearchBtn,
#refundListSearchBtn {
	height: 37px;	
}

#excelExport {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.date-excel-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}