.btnType {
	float: right;
}

.aaa {
	margin-bottom: 5px;
}

.bbb li {
	float: left;
	margin-right: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

.orderBtnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
}

.amount {
	float: right;
	padding-top: 10px;
	padding-right: 30px;
	font-size: 15px;
}

.tingle-modal-box__content h1 {
	font-size: 20px;
}