<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.ctm.dao.CartDao">
	<!-- 장바구니 조회 -->
	<select id="listCart" resultType = "kr.happyjob.study.ctm.model.CartModel">
		SELECT pd.prod_nm as prod_nm
	   		 , lcg.l_ct_nm as l_ct_nm
			   , mcg.m_ct_nm as m_ct_nm
			   , pd.price as price
			   , pd.product_cd as product_cd
			   , pd.detail as detail
			   , sc.shopping_cart_qty
	      FROM tb_shopping sc
	         , tb_scm_product pd
	         , tb_scm_m_category mcg
	         , tb_scm_l_category lcg
	     WHERE pd.m_ct_cd = mcg.m_ct_cd 
	       AND mcg.l_ct_cd = lcg.l_ct_cd 
	       AND pd.product_cd = sc.product_cd	
	       AND sc.loginID = #{loginID}
	   	 LIMIT #{pageIndex}, #{pageSize}
	</select>
	
	<!-- 장바구니 총 개수 조회 -->
	<select id="countListCart" resultType="int">
		SELECT COUNT(1) AS tot_cnt 
		  FROM tb_shopping 
		 WHERE loginID = #{loginID}
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCartItem">
		/*kr.kosmo.jobkorea.system.dao.CartDao.deleteCartItem*/
		DELETE 
		FROM tb_shopping 
		WHERE product_cd = #{product_cd}
		AND loginID = #{loginID}
	</delete>
	
	<!-- 장바구니 수량변경 -->
	<update id="changeQty">
		/*kr.kosmo.jobkorea.system.dao.CartDao.changeQty*/
		UPDATE tb_shopping set shopping_cart_qty = #{shopping_cart_qty} WHERE product_cd = #{product_cd}
	</update>
	
	<!-- 장바구니 총 합계 금액 출력 -->
	<select id="totalCartPrice" resultType="int">
	 	SELECT IFNULL(SUM(sc.shopping_cart_qty * pd.price), 0) AS totalAmount
    	FROM tb_shopping sc
    	JOIN tb_scm_product pd ON pd.product_cd = sc.product_cd
    	WHERE sc.loginID = #{loginID}
	</select>
	
	<!--  장바구니 체크 목록 주문 내역에 넣기 -->
	<insert id="orderCartItem">
		INSERT INTO tb_order (
							  	order_cd,
							  	loginID,
							  	product_cd,
							  	order_date,
							  	want_receive_date,
							  	order_cnt,
							  	amount,
							  	tax,
							  	warehouse_cd,
							  	offline,
							  	request,
							  	STTcd,
							  	deposit_yn
						      )
		VALUES (
					#{uuid},
					#{loginID},
					#{code},
					NOW(),
					#{wantDate},
					#{qty},
					(
						SELECT price * #{qty} AS totalPrice
						FROM tb_scm_product
						WHERE product_cd = #{code}
					),
					(
						SELECT price * #{qty} * 0.1 AS tax
						FROM tb_scm_product
						WHERE product_cd = #{code}
					),
					(
						SELECT warehouse_cd 
						FROM tb_scm_product 
						WHERE product_cd = #{code}
					),
					'n',
					#{request},
					'1',
					'n'				
				)
	</insert>
	<delete id="deleteOrderedCartItem">
		DELETE 
		FROM tb_shopping 
		WHERE product_cd = #{code}
		AND loginID = #{loginID}
	</delete>
</mapper>

