<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.scm.dao.CategoryInfoDao">
  <!-- 품목 목록 조회 -->
  <select id="listLargeCategory" resultType = "kr.happyjob.study.scm.model.CategoryInfoModel">
  SELECT l_ct_cd,
         l_ct_nm
    FROM tb_scm_l_category
   LIMIT #{pageIndex}, #{pageSize}
  </select>
  <!-- 품목 카운트 -->
  <select id="totalCntLargeCategory"  resultType="int">
    SELECT COUNT(1) AS tot_cnt 
      FROM tb_scm_l_category
  </select>
  
  <!-- 상호 목록 조회 -->
  <select id="listMiddleCategory" resultType = "kr.happyjob.study.scm.model.CategoryInfoModel">
   SELECT MC.m_ct_cd,
          MC.m_ct_nm
     FROM tb_scm_m_category MC
LEFT JOIN tb_scm_l_category LC ON MC.l_ct_cd = LC.l_ct_cd
    WHERE MC.l_ct_cd = #{l_ct_cd}
    LIMIT #{pageIndex}, #{pageSize}
  </select>
  <!-- 상호 카운트 -->
  <select id="totalCntMiddleCategory"  resultType="int">
   SELECT COUNT(1) AS tot_cnt 
     FROM tb_scm_m_category MC
LEFT JOIN tb_scm_l_category LC ON MC.l_ct_cd = LC.l_ct_cd
    WHERE MC.l_ct_cd = #{l_ct_cd}
  </select>
  
  <!-- 품목 단건 조회 -->
   <select id="selectLargeCategory" resultType="kr.happyjob.study.scm.model.CategoryInfoModel" >
     SELECT  l_ct_cd as l_ct_cd
           , l_ct_nm as l_ct_nm
      FROM tb_scm_l_category
     WHERE l_ct_cd = #{l_ct_cd}
   </select>
   
   <!-- 품목 등록 -->
   <insert id="insertLargeCategory" parameterType="java.util.Map">
    INSERT INTO tb_scm_l_category (
                                l_ct_cd, 
                                l_ct_nm
                                   )
    SELECT #{l_ct_cd},
           #{l_ct_nm}                 
      FROM DUAL
     WHERE NOT EXISTS(
                      SELECT l_ct_cd 
                        FROM tb_scm_l_category 
                       WHERE l_ct_cd = #{l_ct_cd}
                      );
   </insert>
   
   <!-- 품목 수정 -->
   <update id="updateLargeCategory" parameterType="java.util.Map">
    UPDATE tb_scm_l_category
       SET   l_ct_cd = #{l_ct_cd}
           , l_ct_nm = #{l_ct_nm}
    WHERE l_ct_cd = #{l_ct_cd}
   </update>
   
   <!-- 품목 삭제 -->
   <delete id="deleteLargeCategory" parameterType="java.util.Map">
    DELETE
    FROM tb_scm_l_category
    WHERE l_ct_cd = #{l_ct_cd}
    AND (
          SELECT COUNT(*) 
          FROM tb_scm_m_category 
          WHERE l_ct_cd = #{l_ct_cd}
        ) = 0
   </delete>
   
   <!-- 상호 단건 조회 -->
   <select id="selectMiddleCategory" resultType="kr.happyjob.study.scm.model.CategoryInfoModel" >
     SELECT  LC.l_ct_cd as l_ct_cd
           , LC.l_ct_nm as l_ct_nm
           , MC.m_ct_cd as m_ct_cd
           , MC.m_ct_nm as m_ct_nm
      FROM tb_scm_m_category MC
 LEFT JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd     
     WHERE MC.m_ct_cd = #{m_ct_cd}
   </select>
   
   <!-- 상호 등록 -->
   <insert id="insertMiddleCategory" parameterType="java.util.Map">
    INSERT INTO tb_scm_m_category (
                                l_ct_cd,
                                m_ct_cd, 
                                m_ct_nm
                                   )
    SELECT #{l_ct_cd2},
           #{m_ct_cd2},
           #{m_ct_nm2}                 
      FROM DUAL
     WHERE NOT EXISTS(
                      SELECT m_ct_cd 
                        FROM tb_scm_m_category 
                       WHERE m_ct_cd = #{m_ct_cd2}
                      );
   </insert>
   
   <!-- 상호 수정 -->
   <update id="updateMiddleCategory" parameterType="java.util.Map">
    UPDATE tb_scm_m_category
       SET   l_ct_cd = #{l_ct_cd2}
           , m_ct_cd = #{m_ct_cd2}
           , m_ct_nm = #{m_ct_nm2}
    WHERE m_ct_cd = #{m_ct_cd2}
   </update>
   
   <!-- 상호 삭제 -->
   <delete id="deleteMiddleCategory" parameterType="java.util.Map">
    DELETE
    FROM tb_scm_m_category
    WHERE m_ct_cd = #{m_ct_cd2}
   </delete>
  
</mapper>