<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.scm.dao.ScmReturnListDao">
		<!-- 반품지시서 내역 조회 -->
	<select id="scmReturnList" resultType="kr.happyjob.study.scm.model.ScmReturnListModel">
        SELECT TSRL.refund_list_no AS refund_list_no
                , CUSTOMER.name AS cus_nm
                , PROD_INFO.l_ct_nm AS l_ct_nm
                , PROD_INFO.prod_nm AS prod_nm
                , OD.refund_cnt AS return_cnt
                , SCM.name AS scm_nm
                , DATE_FORMAT(TSRL.submit_date, '%Y-%m-%d') AS submit_date
            FROM tb_scm_refund_list AS TSRL
            
            LEFT JOIN tb_order AS OD
            ON TSRL.order_cd = OD.order_cd
            
            LEFT JOIN tb_userinfo AS CUSTOMER
            ON CUSTOMER.loginID = OD.loginID
            
            LEFT JOIN tb_userinfo AS SCM
            ON SCM.loginID = TSRL.scm_id
            
            LEFT JOIN(
                 SELECT TSP.product_cd
                         , TSP.prod_nm
                         , TSLC.l_ct_nm
                     FROM tb_scm_product AS TSP
                     LEFT JOIN tb_scm_m_category AS TSMC
                     ON TSP.m_ct_cd = TSMC.m_ct_cd
                     LEFT JOIN tb_scm_l_category AS TSLC
                     ON TSMC.l_ct_cd = TSLC.l_ct_cd ) AS PROD_INFO
           ON OD.product_cd = PROD_INFO.product_cd
            
            WHERE 1 = 1
            <choose>
                <when test='searchBox != "all"'>
                    <if test='searchBox == "prod_nm"'>
                        AND PROD_INFO.prod_nm IS NOT NULL
                        <if test="searchInfo != null and searchInfo != ''">
                            AND PROD_INFO.prod_nm LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                    <if test='searchBox == "cus_nm"'>
                        AND CUSTOMER.user_type = "J"
                        <if test="searchInfo != null and searchInfo != ''">
                            AND CUSTOMER.name LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                    <if test='searchBox == "scm_nm"'>
                        AND SCM.user_type = "E"
                        <if test="searchInfo != null and searchInfo != ''">
                            AND SCM.name LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                </when>
                <otherwise>
                    <if test="searchBox == 'all'">
                        <if test="searchInfo != null and searchInfo != ''">
                            AND SCM.name LIKE CONCAT('%', #{searchInfo}, '%') 
                            OR CUSTOMER.name LIKE CONCAT('%', #{searchInfo}, '%') 
                            OR PROD_INFO.prod_nm LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                </otherwise>
            </choose>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                AND TSRL.submit_date BETWEEN DATE_FORMAT(#{startDate}, '%Y-%m-%d %H:%m:%s') AND DATE_FORMAT(#{endDate}, '%Y-%m-%d %H:%m:%s')
            </if>
            AND TSRL.submit_date IS NOT NULL
            ORDER BY TSRL.refund_list_no DESC
            LIMIT #{pageIndex}, #{pageSize}
	</select>
	
	<!--지시서 목록 카운트 -->
	<select id="scmReturnListCnt" resultType="int">
        SELECT COUNT(*) AS scmReturnListCnt
            FROM tb_scm_refund_list AS TSRL
            
            LEFT JOIN tb_order AS OD
            ON TSRL.order_cd = OD.order_cd
            
            LEFT JOIN tb_userinfo AS CUSTOMER
            ON CUSTOMER.loginID = OD.loginID
            
            LEFT JOIN tb_userinfo AS SCM
            ON SCM.loginID = TSRL.scm_id
            
            LEFT JOIN(
                 SELECT TSP.product_cd
                         , TSP.prod_nm
                         , TSLC.l_ct_nm
                     FROM tb_scm_product AS TSP
                     LEFT JOIN tb_scm_m_category AS TSMC
                     ON TSP.m_ct_cd = TSMC.m_ct_cd
                     LEFT JOIN tb_scm_l_category AS TSLC
                     ON TSMC.l_ct_cd = TSLC.l_ct_cd ) AS PROD_INFO
           ON OD.product_cd = PROD_INFO.product_cd
            
            WHERE 1 = 1
            <choose>
                <when test='searchBox != "all"'>
                    <if test='searchBox == "prod_nm"'>
                        AND PROD_INFO.prod_nm IS NOT NULL
                        <if test="searchInfo != null and searchInfo != ''">
                            AND PROD_INFO.prod_nm LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                    <if test='searchBox == "cus_nm"'>
                        AND CUSTOMER.user_type = "J"
                        <if test="searchInfo != null and searchInfo != ''">
                            AND CUSTOMER.name LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                    <if test='searchBox == "scm_nm"'>
                        AND SCM.user_type = "E"
                        <if test="searchInfo != null and searchInfo != ''">
                            AND SCM.name LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                </when>
                <otherwise>
                    <if test="searchBox == 'all'">
                        <if test="searchInfo != null and searchInfo != ''">
                            AND SCM.name LIKE CONCAT('%', #{searchInfo}, '%') 
                            OR CUSTOMER.name LIKE CONCAT('%', #{searchInfo}, '%') 
                            OR PROD_INFO.prod_nm LIKE CONCAT('%', #{searchInfo}, '%')
                        </if>
                    </if>
                </otherwise>
            </choose>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                AND TSRL.submit_date BETWEEN DATE_FORMAT(#{startDate}, '%Y-%m-%d %H:%m:%s') AND DATE_FORMAT(#{endDate}, '%Y-%m-%d %H:%m:%s')
            </if>
            AND TSRL.submit_date IS NOT NULL
            ORDER BY TSRL.refund_list_no DESC
    </select>
    
    <select id="getReturnDetailList" resultType="kr.happyjob.study.scm.model.ScmReturnDetailListModel">
        SELECT SCM.name AS scm_nm
                , L_CATEGORY.l_ct_nm AS l_ct_nm
                , PRODUCT.prod_nm AS prod_nm
                , OD.refund_cnt AS refund_cnt
                , WH.warehouse_nm AS warehouse_nm
                , SUPPLY.supply_nm AS supply_nm
                , DATE_FORMAT(OD.refund_date, '%Y-%m-%d') AS refund_date
                , OD.refund_amt AS refund_amt
                , DATE_FORMAT(OD.order_date, '%Y-%m-%d') AS order_date
                , DATE_FORMAT(TSRL.submit_date, '%Y-%m-%d') AS submit_date
                , APPROVE.name AS approve_nm
            FROM tb_order AS OD
            
            LEFT JOIN tb_scm_refund_list AS TSRL
            ON TSRL.order_cd = OD.order_cd
            
            LEFT JOIN tb_userinfo AS SCM
            ON TSRL.scm_id = SCM.loginID
            
            LEFT JOIN tb_userinfo AS APPROVE
            ON TSRL.approve_id = APPROVE.loginID
            
            LEFT JOIN tb_scm_warehouse AS WH
            ON OD.warehouse_cd = WH.warehouse_cd
            
            LEFT JOIN tb_scm_supply AS SUPPLY
            ON OD.warehouse_cd = SUPPLY.warehouse_cd
            
            LEFT JOIN tb_scm_product AS PRODUCT
            ON OD.product_cd = PRODUCT.product_cd
            
            LEFT JOIN tb_scm_m_category AS M_CATEGORY
            ON PRODUCT.m_ct_cd = M_CATEGORY.m_ct_cd
            
            LEFT JOIN tb_scm_l_category AS L_CATEGORY
            ON M_CATEGORY.l_ct_cd = L_CATEGORY.l_ct_cd 
            
        WHERE TSRL.refund_list_no = #{refund_list_no}
    </select>
</mapper>