<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.scm.dao.SupplierInfoDao">

  <!-- 공급처 목록 조회 -->
  <select id="listSupplier" resultType = "kr.happyjob.study.scm.model.SupplierInfoModel">
      SELECT SP.supply_cd as supply_cd
           , SP.supply_nm as supply_nm
           , SP.tel as tel
           , SP.supply_mng_nm as supply_mng_nm
           , SP.mng_tel as mng_tel
           , SP.email as email
           , WH.warehouse_nm as warehouse_nm
      FROM tb_scm_supply SP
      LEFT OUTER JOIN tb_scm_warehouse WH
      ON WH.warehouse_cd = SP.warehouse_cd
      <where>
      <if test="(sname != null) and (!sname.equals(''))">
      <choose>
        <when test="oname eq 'all'.toString()">
            AND (SP.supply_nm LIKE CONCAT('%', #{sname}, '%')
              or SP.supply_mng_nm LIKE CONCAT('%', #{sname}, '%'))
        </when>
        <when test= "(oname eq 'supply_nm'.toString())">
            AND SP.supply_nm LIKE concat('%', #{sname}, '%')
        </when>
        <when test= "(oname eq 'supply_mng_nm'.toString())">
            AND SP.supply_mng_nm LIKE concat('%', #{sname}, '%')
        </when> 
      </choose>
      </if> 
    </where>
   ORDER BY  SP.enroll_date DESC 
      LIMIT #{pageIndex}, #{pageSize}
  </select>
  <!-- 공급처 카운트 -->
  <select id="totalCntSupplier"  resultType="int">
    SELECT COUNT(1) AS tot_cnt 
      FROM tb_scm_supply SP
      LEFT OUTER JOIN tb_scm_warehouse WH
      ON WH.warehouse_cd = SP.warehouse_cd 
      <where>
      <if test="(sname != null) and (!sname.equals(''))">
      <choose>
        <when test="oname eq 'all'.toString()">
            AND (SP.supply_nm LIKE CONCAT('%', #{sname}, '%')            
              or SP.supply_mng_nm LIKE CONCAT('%', #{sname}, '%'))
        </when>
        <when test= "(oname eq 'supply_nm'.toString())">
            AND SP.supply_nm LIKE concat('%', #{sname}, '%')
        </when>
        <when test= "(oname eq 'supply_mng_nm'.toString())">
            AND SP.supply_mng_nm LIKE concat('%', #{sname}, '%')
        </when> 
      </choose>
      </if> 
    </where>
  </select>
  
  <!-- 제품 목록 조회 -->
  <select id="listSupplierProduct" resultType = "kr.happyjob.study.scm.model.SupplierInfoModel" >
    SELECT SP.supply_nm as supply_nm
         , PD.product_cd as product_cd
         , PD.prod_nm as prod_nm
         , LC.l_ct_nm as l_ct_nm
         , PD.purchase_price as purchase_price
      FROM tb_scm_product PD
      LEFT OUTER JOIN tb_scm_supply SP ON SP.supply_cd = PD.supply_cd
      LEFT OUTER JOIN tb_scm_m_category MC ON MC.m_ct_cd = PD.m_ct_cd
      LEFT OUTER JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd
     WHERE SP.supply_cd = #{supply_cd}
     
  
  ORDER BY  PD.enroll_date DESC   
     LIMIT #{pageIndex}, #{pageSize}
  
  
  </select>
  <!-- 제품 목록 갯수 카운트 -->
  <select id="totalCntProduct" resultType="int">
    SELECT COUNT(1) as tot_proCnt
      FROM tb_scm_product PD
      LEFT OUTER JOIN tb_scm_supply SP ON SP.supply_cd = PD.supply_cd
      LEFT OUTER JOIN tb_scm_m_category MC ON MC.m_ct_cd = PD.m_ct_cd
      LEFT OUTER JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd
     WHERE SP.supply_cd = #{supply_cd}
   </select>
     
   <!-- 공급처 단건 조회 -->
   <select id="selectSupplier" resultType="kr.happyjob.study.scm.model.SupplierInfoModel" >
     SELECT  SP.supply_cd as supply_cd
           , SP.supply_nm as supply_nm
           , SP.supply_mng_nm as supply_mng_nm
           , SP.mng_tel as mng_tel
           , SP.tel as tel
           , SP.email as email
           , WH.warehouse_cd as warehouse_cd
      FROM tb_scm_supply SP
      LEFT OUTER JOIN tb_scm_warehouse WH
        ON WH.warehouse_cd = SP.warehouse_cd
     WHERE SP.supply_cd = #{supply_cd}
   </select>
   
   <!-- 공급처 등록 -->
   <insert id="insertSupplier" parameterType="java.util.Map">
    INSERT INTO tb_scm_supply (
                                supply_nm, 
                                supply_cd, 
                                tel, 
                                supply_mng_nm, 
                                mng_tel,
                                email, 
                                warehouse_cd,
                                enroll_date
                              )
    SELECT #{supply_nm},
           #{supply_cd},
           #{tel},
           #{supply_mng_nm},
           #{mng_tel},
           #{email},
           #{warehouse_cd},
           NOW()                 
      FROM DUAL
     WHERE NOT EXISTS(
                      SELECT supply_cd 
                        FROM tb_scm_supply 
                       WHERE supply_cd = #{supply_cd}
                      );
   </insert>
   
   <!-- 공급처 수정 -->
   <update id="updateSupplier" parameterType="java.util.Map">
    UPDATE tb_scm_supply
       SET   supply_nm = #{supply_nm}
           , supply_mng_nm = #{supply_mng_nm}
           , mng_tel = #{mng_tel}
           , tel = #{tel}
           , email = #{email}
           , warehouse_cd = #{warehouse_cd}
    WHERE supply_cd = #{supply_cd}
   </update>
   
   <!-- 공급처 삭제 -->
   <delete id="deleteSupplier" parameterType="java.util.Map">
    DELETE
    FROM tb_scm_supply
    WHERE supply_cd = #{supply_cd}
    AND (
          SELECT COUNT(*) 
          FROM tb_scm_product 
          WHERE supply_cd = #{supply_cd}
        ) = 0
   </delete>
</mapper>