<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.pcs.dao.RefundDao">

  <!-- 반품서 목록 조회(기본, 검색) -->
  <select id="selectRefundList" resultType="kr.happyjob.study.pcs.model.RefundDetailModel">
     SELECT 
           pur.purch_list_no
         , pur.order_cd
         , pur.return_price
         , DATE_FORMAT(pur.return_date, '%Y-%m-%d') as return_date
         , pur.return_qty
         , sup.supply_nm
         , sup.supply_cd
         , pro.prod_nm
         , cat.m_ct_nm 
      FROM 
           tb_scm_purchase_list pur
           LEFT JOIN tb_order ord
           ON pur.order_cd  = ord.order_cd
           LEFT JOIN tb_scm_product pro
           ON ord.product_cd = pro.product_cd
           LEFT JOIN tb_scm_supply sup
           ON pro.supply_cd = sup.supply_cd
           LEFT JOIN tb_scm_m_category  cat
           ON pro.m_ct_cd = cat.m_ct_cd
    WHERE  pur.request_return_date is not null
    <if test="keyword != ''">
      <choose>
        <when test="option eq 'all'.toString()">
          AND (
                  pro.prod_nm LIKE CONCAT('%', #{keyword}, '%')
               OR cat.m_ct_nm LIKE CONCAT('%', #{keyword}, '%')
                   )
          <if test="date != ''">
            AND DATE(pur.return_date) = (#{date})
          </if>
        </when>                 
        <when test="option eq 'product'.toString()">
          AND  pro.prod_nm LIKE CONCAT('%', #{keyword}, '%')
          <if test="date != ''">
            AND DATE(pur.return_date) = (#{date})
          </if>
        </when>                
        <when test="option eq 'category'.toString()">
          AND cat.m_ct_nm LIKE CONCAT('%', #{keyword}, '%')
          <if test="date != ''">
            AND DATE(pur.return_date) = (#{date})
          </if>
        </when>               
      </choose>
    </if>
    <if test="keyword == ''">
      <choose>
        <when test="date != ''">
           AND DATE(pur.return_date) = (#{date})
        </when>
      </choose>
    </if>
  ORDER BY purch_list_no DESC
     LIMIT #{pageIndex}, #{pageSize}    
  </select>
  
  <!-- 반품서 목록(기본) 총 개수 조회 -->
  <select id="countRefundList" resultType="int">
  
    SELECT COUNT(*)
      FROM tb_scm_purchase_list
     WHERE request_return_date is not null
     
  </select>
  
  <!-- 반품서 목록(검색) 총 개수 조회 -->
   <select id="countConditionList"  resultType="int">
   SELECT 
          count(pur.purch_list_no)
     FROM 
           tb_scm_purchase_list pur
           LEFT JOIN tb_order ord
           ON pur.order_cd  = ord.order_cd
           LEFT JOIN tb_scm_product pro
           ON ord.product_cd = pro.product_cd
           LEFT JOIN tb_scm_supply sup
           ON pro.supply_cd = sup.supply_cd
           LEFT JOIN tb_scm_m_category  cat
           ON pro.m_ct_cd = cat.m_ct_cd
    WHERE  pur.request_return_date is not null
    <if test="keyword != ''">
      <choose>
        <when test="option eq 'all'.toString()">
          AND (
                pro.prod_nm LIKE CONCAT('%', #{keyword}, '%')
             OR cat.m_ct_nm LIKE CONCAT('%', #{keyword}, '%')
               )
          <if test="date != ''">
            AND DATE(pur.return_date) = (#{date})
          </if>
        </when>                 
        <when test="option eq 'product'.toString()">
          AND  pro.prod_nm LIKE CONCAT('%', #{keyword}, '%')
          <if test="date != ''">
            AND DATE(pur.return_date) = (#{date})
          </if>
        </when>                
        <when test="option eq 'category'.toString()">
          AND cat.m_ct_nm LIKE CONCAT('%', #{keyword}, '%')
          <if test="date != ''">
            AND DATE(pur.return_date) = (#{date})
          </if>
        </when>               
      </choose>
    </if>
    <if test="keyword == ''">
      <choose>
        <when test="date != ''">
           AND DATE(pur.return_date) = (#{date})
        </when>
      </choose>
    </if>
   </select>
  
  
  <!-- 반품서 단건 조회  -->
  <select id="selectOneRefund" resultType="kr.happyjob.study.pcs.model.RefundDetailModel" parameterType="String">
    
    SELECT 
           pur.purch_list_no
         , pur.order_cd
         , DATE_FORMAT(pur.purch_date, '%Y-%m-%d') as purch_date
         , DATE_FORMAT(pur.desired_delivery_date, '%Y-%m-%d') as desired_delivery_date  
         , DATE_FORMAT(pur.return_date, '%Y-%m-%d') as return_date
         , pur.return_mng_id
         , pur.return_price
         , pur.return_qty
         , sup.supply_nm
         , sup.supply_cd
         , pro.prod_nm
         , pro.product_cd
         , war.warehouse_cd
         , war.warehouse_nm
         , war.addr
         , cat.m_ct_nm 
         
      FROM tb_scm_purchase_list pur
           LEFT JOIN tb_order ord
           ON pur.order_cd = ord.order_cd
           LEFT JOIN tb_scm_product pro
           ON ord.product_cd = pro.product_cd 
           LEFT JOIN tb_scm_supply sup
           ON pro.supply_cd = sup.supply_cd
           LEFT JOIN tb_scm_warehouse war
           ON sup.warehouse_cd = war.warehouse_cd
           LEFT JOIN tb_scm_m_category  cat
           ON pro.m_ct_cd = cat.m_ct_cd
    WHERE pur.purch_list_no = #{purch_list_no}
       
  </select>
  
  <!-- 반품 완료 처리 -->
  <update id="insertReturnDate" parameterType="int">
   
    UPDATE tb_scm_purchase_list
       SET return_date = NOW()
     WHERE purch_list_no = #{purch_list_no} AND return_date IS NULL
  
  </update>
  
  <!-- 환불액 입금 처리 -->
  <insert id="insertAmt">
    
    INSERT INTO tb_acc_slip
              (
               slip_no, 
               account_cd, 
               detail_account_cd, 
               occur_date, 
               order_cd, 
               amt, 
               direct_id, 
               client_cd
               ) 
        VALUES (
                (SELECT IFNULL(MAX(slip_no) + 1, 1) FROM tb_acc_slip  t1),
                'A100',
                '101', 
                now(),
                #{order_cd}, 
                -1 * #{return_price}, 
                #{direct_id}, 
                #{supply_cd}
                )
  </insert>
   
</mapper>