<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.system.dao.NoticeDao">
  
  <!-- 공지사항 목록 조회(기본, 검색) -->
  <select id="selectNoticeList" resultType="kr.happyjob.study.system.dto.NoticeDto">
    SELECT
    	notice_code,
    	user_code,
    	notice_category_code,
    	file_code,
    	notice_title,
    	notice_contents,
    	date_format(write_date, '%Y-%m-%d') AS write_date
    FROM notice
    <choose>
    	<when test="categoryCode == 7">
    	where notice_category_code != 7
    	</when>
    	<otherwise>
    	where notice_category_code = 7
    	</otherwise>
    </choose>
    ORDER BY write_date DESC
    LIMIT #{pageIndex}, #{pageSize};
  </select>
  
  <!-- 공지사항 Count -->
  <select id="noticeTotalCount" resultType="int">
	
	SELECT
		count(*)
	FROM
		notice
	WHERE 
		notice_category_code = 7;  
  	
  </select>
  
</mapper>
