<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.dlv.dao.OutgoingDao">

	<!-- 배송 준비 중 부터의 목록 조회 -->
	<select id="outgoingList" resultType = "kr.happyjob.study.dlv.model.DlvOutgoingModel">
        SELECT DATE_FORMAT(OD.order_date, '%Y-%m-%d') AS order_date
                , DATE_FORMAT(SHIPINFO.arr_date, '%Y-%m-%d') AS arr_date
                , DATE_FORMAT(SHIPINFO.arr_prev_date, '%Y-%m-%d') AS arr_prev_date
				, OD.order_cd AS order_cd
				, SHIPINFO.staff_name AS name_delivery
				, WH.warehouse_nm AS warehouse_nm
				, DC.detail_name AS state
            FROM tb_order OD
            LEFT JOIN (
                SELECT warehouse_cd, warehouse_nm
                    FROM tb_scm_warehouse ) AS WH
                ON OD.warehouse_cd = WH.warehouse_cd
	
            LEFT JOIN(
                SELECT tssl.order_cd AS order_cd
                        , tssl.arr_date
                        , tssl.arr_prev_date
                        , staff.name AS staff_name
                    FROM tb_scm_ship_list AS tssl
                    LEFT JOIN tb_userinfo AS staff 
                    ON tssl.ship_staff_id = staff.loginID) AS SHIPINFO
            ON OD.order_cd = SHIPINFO.order_cd
            
            LEFT JOIN(
                SELECT detail_code, group_code, detail_name
                    FROM tb_detail_code
                    WHERE group_code = 'STTcd' ) AS DC
            ON OD.STTcd = DC.detail_code
            
			WHERE 1 = 1
			<choose>
				<when test="STTcd == null or STTcd == 'all'">
					AND OD.STTcd IN (13, 14, 15)
				</when>
				<otherwise>
				    AND OD.STTcd IN (#{STTcd})
				</otherwise>
			</choose>
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			    AND OD.order_date BETWEEN DATE_FORMAT(#{startDate}, '%Y-%m-%d') AND DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			</if>
			ORDER BY OD.STTcd ASC, OD.order_date DESC
			LIMIT #{pageIndex}, #{pageSize}
	</select>
	
	<!-- 목록의 총 row수 조회 -->
	<select id="outgoingCnt" resultType="int">
		SELECT COUNT(*) AS totCnt
            FROM tb_order OD
            LEFT JOIN (
                SELECT warehouse_cd, warehouse_nm
                    FROM tb_scm_warehouse ) AS WH
                ON OD.warehouse_cd = WH.warehouse_cd
    
            LEFT JOIN(
                SELECT tssl.order_cd AS order_cd
                        , tssl.arr_date
                        , tssl.arr_prev_date
                        , staff.name AS staff_name
                    FROM tb_scm_ship_list AS tssl
                    LEFT JOIN tb_userinfo AS staff 
                    ON tssl.ship_staff_id = staff.loginID) AS SHIPINFO
            ON OD.order_cd = SHIPINFO.order_cd
            
            LEFT JOIN(
                SELECT detail_code, group_code, detail_name
                    FROM tb_detail_code
                    WHERE group_code = 'STTcd' ) AS DC
            ON OD.STTcd = DC.detail_code
            
            WHERE 1 = 1
            <choose>
                <when test="STTcd == null or STTcd == 'all'">
                    AND OD.STTcd IN (13, 14, 15)
                </when>
                <otherwise>
                    AND OD.STTcd IN (#{STTcd})
                </otherwise>
            </choose>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                AND OD.order_date BETWEEN DATE_FORMAT(#{startDate}, '%Y-%m-%d') AND DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>
            ORDER BY OD.STTcd ASC, OD.order_date DESC
	</select>
	
	<!-- 상세 정보 조회 -->
    <select id="outgoingDetailList" resultType="kr.happyjob.study.dlv.model.DlvOutgoingDetailModel">
        SELECT  DATE_FORMAT(OD.order_date, '%Y-%m-%d') AS order_date
                , shipList.ship_list_no AS ship_list_no
				, OD.order_cd AS order_cd
				, tsp.l_ct_nm AS l_ct_nm
				, tsp.prod_nm AS prod_nm
				, OD.order_cnt AS order_cnt
				, CUSTOMER.name AS name_customer
				, CUSTOMER.tel AS tel_customer
				, CUSTOMER.addr AS addr
				, shipList.scm_name AS name_scm
				, shipList.staff_name AS name_delivery
				, shipList.staff_tel AS tel_delivery
				, WH.warehouse_nm AS warehouse_nm
				, DATE_FORMAT(shipList.arr_date, '%Y-%m-%d') AS arr_date
				, DATE_FORMAT(shipList.arr_prev_date, '%Y-%m-%d') AS arr_prev_date
				, OD.STTcd AS state
				, IFNULL(OD.request, " - ") AS request
				, OD.offline AS offline
            FROM tb_order OD

            LEFT JOIN(
                SELECT tb_scm_product.product_cd AS product_cd
                        , tb_scm_product.prod_nm AS prod_nm
                        , tb_scm_m_category.m_ct_nm AS m_ct_nm
                        , tb_scm_l_category.l_ct_nm AS l_ct_nm
                    FROM tb_scm_product
                    LEFT JOIN tb_scm_m_category
                    ON tb_scm_product.m_ct_cd = tb_scm_m_category.m_ct_cd
                    LEFT JOIN tb_scm_l_category
                    ON tb_scm_m_category.l_ct_cd = tb_scm_l_category.l_ct_cd) AS tsp
            ON OD.product_cd = tsp.product_cd

            LEFT JOIN(
                SELECT tssl.order_cd AS order_cd
						, scm.name AS scm_name
						, staff.name AS staff_name
						, staff.tel AS staff_tel
						, mng.name AS mng_name
						, tssl.ship_list_no AS ship_list_no
						, tssl.arr_date AS arr_date
						, tssl.arr_prev_date AS arr_prev_date
                    FROM tb_scm_ship_list tssl
					LEFT JOIN tb_userinfo AS scm ON tssl.scm_id = scm.loginID
					LEFT JOIN tb_userinfo AS staff ON tssl.ship_staff_id = staff.loginID
					LEFT JOIN tb_userinfo AS mng ON tssl.ship_mng_id = mng.loginID) AS shipList
            ON OD.order_cd = shipList.order_cd

            LEFT JOIN(
                SELECT loginID
						, name
						, tel
						, addr
				    FROM tb_userinfo ) AS CUSTOMER
	        ON OD.loginID = CUSTOMER.loginID
			
            LEFT JOIN(
                SELECT warehouse_cd
                        , warehouse_nm
                    FROM tb_scm_warehouse) AS WH
            ON OD.warehouse_cd = WH.warehouse_cd

			WHERE OD.order_cd = #{order_cd}
	</select>
	
	<!-- 배송사원이름 조회 -->
	<select id="dlvStaffNameCombo" resultType="kr.happyjob.study.dlv.model.DlvStaffNameModel">
	   SELECT name AS dlv_staff_name
	           , loginID
           FROM tb_userinfo
           WHERE user_type like "H"
	</select>
	
	<!-- 배송사원 연락처 조회 -->
	<select id="getDlvStaffTel" resultType="string">
	   SELECT tel AS dlv_staff_tel
	       FROM tb_userinfo
	       WHERE name = #{selDlvName}
	</select>
	
	<!-- 배송지시서 업데이트(배송사원, 도착예정일자, 상태(STTcd) -->
    <update id="updateDlvPaper">
        UPDATE
            tb_scm_ship_list AS TSSL
                , tb_order AS OD
	        SET
	            <choose>
		            <when test="state.equals('15')">
		                <if test='offline.equals("y")'>
			                TSSL.arr_date = NOW(),
                            OD.STTcd = '8'
		                </if>
		                <if test='offline.equals("n")'>
                            TSSL.arr_date = NOW(),
                            OD.STTcd = #{state}
                        </if>
		            </when>
		            <otherwise>
			            TSSL.arr_prev_date = DATE_FORMAT(#{arrPrevDate}, '%Y-%m-%d %h:%m:%s'),
	                    TSSL.ship_staff_id = #{dlvStaffLoginId},
	                    TSSL.ship_mng_id = #{mngLoginId},
	                    OD.STTcd = #{state}
		            </otherwise>
	            </choose>
	        WHERE 1 = 1 
	        AND OD.order_cd = #{order_cd}
            AND TSSL.ship_list_no = #{ship_list_no}
            AND TSSL.order_cd = #{order_cd}
	</update>
	
	
</mapper>
