<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.dlv.dao.ReturnDao">

	<select id="returnList" resultType="kr.happyjob.study.dlv.model.DlvReturnModel">
		SELECT TSRL.refund_list_no AS refund_list_no
		        , TUU.name AS cus_name
		        , TSP.l_ct_cd AS l_ct_cd
		        , TSP.prod_nm AS prod_nm
		        , TOO.refund_cnt AS refund_cnt
		        , TOO.refund_amt AS refund_amt
		        , TSW.warehouse_nm
		        , DATE_FORMAT(TOO.refund_date, '%Y-%m-%d') AS refund_date
		        , DC.detail_name AS state
	       FROM tb_order AS TOO
           LEFT JOIN tb_scm_refund_list AS TSRL
           ON TOO.order_cd = TSRL.order_cd
           
           LEFT JOIN ( 
                  SELECT PROD.product_cd, PROD.prod_nm, CATEGORY.m_ct_nm, CATEGORY.l_ct_cd
                      FROM tb_scm_product AS PROD
                      LEFT JOIN tb_scm_m_category AS CATEGORY
                      ON PROD.m_ct_cd = CATEGORY.m_ct_cd ) AS TSP
           ON TOO.product_cd = TSP.product_cd
           
           LEFT JOIN tb_userinfo AS TUU
           ON TOO.loginID = TUU.loginID
           
           LEFT JOIN (
                  SELECT warehouse_cd, warehouse_nm
                      FROM tb_scm_warehouse ) AS TSW
           ON TOO.warehouse_cd = TSW.warehouse_cd
           
           LEFT JOIN(
                SELECT detail_code, group_code, detail_name
                    FROM tb_detail_code
                    WHERE group_code = 'STTcd' ) AS DC
           ON TOO.STTcd = DC.detail_code
	             
	       WHERE 1 = 1
           <choose>
               <when test="STTcd == null or STTcd == 'all'">
                   AND TOO.STTcd IN (5, 6, 7)
               </when>
               <otherwise>
                   AND TOO.STTcd IN (#{STTcd})
               </otherwise>
           </choose>
           <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
               AND TOO.refund_date BETWEEN DATE_FORMAT(#{startDate}, '%Y-%m-%d') AND DATE_FORMAT(#{endDate}, '%Y-%m-%d')
           </if>
	       ORDER BY TOO.STTcd ASC, TSRL.refund_list_no DESC
		   LIMIT #{pageIndex}, #{pageSize}
	</select>

	<select id="returnListCnt" resultType="int">
		SELECT COUNT(*) AS returnlistCnt
           FROM tb_order AS TOO
           LEFT JOIN tb_scm_refund_list AS TSRL
           ON TOO.order_cd = TSRL.order_cd
           
           LEFT JOIN ( 
                  SELECT PROD.product_cd, PROD.prod_nm, CATEGORY.m_ct_nm, CATEGORY.l_ct_cd
                      FROM tb_scm_product AS PROD
                      LEFT JOIN tb_scm_m_category AS CATEGORY
                      ON PROD.m_ct_cd = CATEGORY.m_ct_cd ) AS TSP
           ON TOO.product_cd = TSP.product_cd
           
           LEFT JOIN tb_userinfo AS TUU
           ON TOO.loginID = TUU.loginID
           
           LEFT JOIN (
                  SELECT warehouse_cd, warehouse_nm
                      FROM tb_scm_warehouse ) AS TSW
           ON TOO.warehouse_cd = TSW.warehouse_cd
           
           LEFT JOIN(
                SELECT detail_code, group_code, detail_name
                    FROM tb_detail_code
                    WHERE group_code = 'STTcd' ) AS DC
           ON TOO.STTcd = DC.detail_code
                 
           WHERE 1 = 1
           <choose>
               <when test="STTcd == null or STTcd == 'all'">
                   AND TOO.STTcd IN (5, 6, 7)
               </when>
               <otherwise>
                   AND TOO.STTcd IN (#{STTcd})
               </otherwise>
           </choose>
           <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
               AND TOO.refund_date BETWEEN DATE_FORMAT(#{startDate}, '%Y-%m-%d') AND DATE_FORMAT(#{endDate}, '%Y-%m-%d')
           </if>
           ORDER BY TOO.STTcd ASC, TSRL.refund_list_no DESC
	</select>
	
	<select id="returnDetailList" resultType="kr.happyjob.study.dlv.model.DlvReturnDetailModel">
		SELECT TOO.order_cd AS order_cd
		          , TSRL.refund_list_no AS refund_list_no
		          , TSP.l_ct_cd AS l_ct_cd
		          , TSP.prod_nm AS prod_nm
		          , TOO.refund_cnt AS refund_cnt
		          , CUSTOMER.name AS cus_name
		          , CUSTOMER.tel AS cus_tel
		          , CUSTOMER.addr AS cus_addr
		          , TSRL.scm_name AS scm_name
		          , TSRL.staff_name AS staff_name
		          , TSRL.staff_tel AS staff_tel
		          , TSW.warehouse_nm AS warehouse_nm
		          , TOO.STTcd AS state
		          , TOO.request AS request
       
   		FROM tb_order AS TOO
		   LEFT JOIN ( 
		          SELECT tb_scm_refund_list.order_cd AS order_cd
		                  , tb_scm_refund_list.refund_list_no AS refund_list_no
		                  , scm.name AS scm_name
		                  , staff.name AS staff_name
		                  , staff.tel AS staff_tel
		              FROM tb_scm_refund_list
		              LEFT JOIN tb_userinfo AS scm ON tb_scm_refund_list.scm_id = scm.loginID
		              LEFT JOIN tb_userinfo AS staff ON tb_scm_refund_list.ship_staff_id = staff.loginID ) AS TSRL
		   ON TOO.order_cd = TSRL.order_cd
		   
		   LEFT JOIN ( 
                  SELECT PROD.product_cd, PROD.prod_nm, CATEGORY.m_ct_nm, CATEGORY.l_ct_cd
                      FROM tb_scm_product AS PROD
                      LEFT JOIN tb_scm_m_category AS CATEGORY
                      ON PROD.m_ct_cd = CATEGORY.m_ct_cd ) AS TSP
           ON TOO.product_cd = TSP.product_cd
		   
		   LEFT JOIN(
                SELECT loginID
                        , name
                        , tel
                        , addr
                    FROM tb_userinfo ) AS CUSTOMER
           ON TOO.loginID = CUSTOMER.loginID
		   
		   LEFT JOIN tb_scm_warehouse AS TSW
		   ON TOO.warehouse_cd = TSW.warehouse_cd
		  
		   WHERE TSRL.refund_list_no = #{refund_list_no}
		  
	</select>
	
	<select id="dlvStaffNameCombo" resultType="kr.happyjob.study.dlv.model.DlvStaffNameModel">
       SELECT name AS dlv_staff_name
               , loginID
           FROM tb_userinfo
           WHERE user_type like "H"
    </select>
    
    <!-- 배송사원 연락처 조회 -->
    <select id="getDlvStaffTel" resultType="string">
       SELECT tel AS dlv_staff_tel
           FROM tb_userinfo
           WHERE name = #{selDlvName}
    </select>
    
    <update id="updateReturnPaper">
         UPDATE
            tb_scm_refund_list AS TSRL
                , tb_order AS OD
                , tb_scm_product AS TSP
            SET
                <choose>
                    <when test='state.equals("6")'>
                        TSRL.ship_staff_id = #{dlvStaffLoginId},
                        TSRL.ship_mng_id = #{mngLoginId},
                        OD.STTcd = #{state}
                    </when>
                    <otherwise>
                        TSRL.refund_date = NOW(),
                        OD.STTcd = #{state},
                        TSP.stock = TSP.stock + #{refund_cnt}
                    </otherwise>
                </choose>
            WHERE '1'='1'
	            <choose>
	                    <when test='state.equals("6")'>
	                        AND OD.order_cd = #{order_cd}
				            AND TSRL.refund_list_no = #{refund_list_no}
				            AND TSRL.order_cd = #{order_cd}
	                    </when>
	                    <otherwise>
	                        AND TSRL.refund_list_no = #{refund_list_no}
	                        AND OD.order_cd = #{order_cd}
	                        AND TSP.prod_nm = #{prod_nm}
	                    </otherwise>
	                </choose>
    </update>
</mapper>